{% extends 'base.html' %}

{% block content %}


    <div class="post-entry">
        <!-- we could alternatively object.title -->
        <!-- or name it using context_object_name -->
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
    </div>

    <p><a href="{% url 'post_edit' post.pk %}">Edit Blog Post</a> | 
    <a href="{% url 'post_delete' post.pk %}">Delete Blog Post</a></p>

{% endblock content %}
