{% extends 'base.html' %}

{% block content %}

    <h1>New Post</h1>
    {% if user.is_authenticated %}
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>
{% endif %}


{% endblock content %}
    
