{% extends 'base.html' %}

{% block content %}

    <h1>Edit Post</h1>
    {% if user.is_authenticated %}
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" />
    </form>
{% endif %}
{% endblock content %}


