{% extends 'base.html' %}

{% block content %}
    <h1>Delete post</h1>
    {% if user.is_authenticated %}
    <form action="" method="post">{% csrf_token %}
        <p>are you sure you want to delete "{{post.title}}"?</p>
        <input type="submit" value="Confirm" />
    </form>
    {% endif %}
{% endblock content %}
